Repository MoViDe-Project/motis, pull requests merged in 2025-01, with the labels that each got.

#23 Feat: query api for plan details
  visual-debugger/src/data-processing/Query-Batch.json
  visual-debugger/src/data-processing/parsing-types/planParsingTypes.ts
  visual-debugger/src/data-processing/parsing-types/queryInterpolationTypes.ts
  visual-debugger/src/data-processing/planParsing.ts
  visual-debugger/src/data-processing/queryBuild.ts
  visual-debugger/src/demo.spec.ts
  visual-debugger/src/lib/components/ui/FileUpload.svelte
  visual-debugger/src/lib/components/ui/PlanOverview.svelte
  visual-debugger/src/lib/components/ui/QueryBatchEntry.svelte
  visual-debugger/src/lib/components/ui/QueryBatchOverview.svelte
  visual-debugger/src/lib/components/ui/subcomponents/PlanEntry.svelte
  visual-debugger/src/routes/+page.svelte
  visual-debugger/src/sveltestore.ts
Labels: enhancement, Data Processing

#26 chore: prevent parsing errors
  visual-debugger/src/data-processing/queryBuild.ts
Labels: bug, chore, Data Processing

#30 feat: frontend redesign
  visual-debugger/package.json
  visual-debugger/src/lib/components/ui/DefaultPlanOverview.svelte
  visual-debugger/src/lib/components/ui/PlanOverview.svelte
  visual-debugger/src/lib/components/ui/QueryBatchOverview.svelte
  visual-debugger/src/lib/components/ui/input/index.ts
  visual-debugger/src/lib/components/ui/input/input.svelte
  visual-debugger/src/lib/components/ui/scroll-area/index.ts
  visual-debugger/src/lib/components/ui/scroll-area/scroll-area-scrollbar.svelte
  visual-debugger/src/lib/components/ui/scroll-area/scroll-area.svelte
  visual-debugger/src/lib/components/ui/subcomponents/PlanEntry.svelte
  visual-debugger/src/lib/components/ui/switch/index.ts
  visual-debugger/src/lib/components/ui/switch/switch.svelte
  visual-debugger/src/lib/components/ui/upload/DefaultPlanUpload.svelte
  visual-debugger/src/lib/components/ui/upload/QueryUpload.svelte
  visual-debugger/src/routes/+layout.svelte
  visual-debugger/src/routes/+page.svelte
  visual-debugger/src/routes/new/+page.svelte
  visual-debugger/static/logo_clipped.svg
  visual-debugger/tailwind.config.ts
Labels: enhancement, Front End
