Repository MoViDe-Project/motis, pull requests merged in 2025-02, with the labels that each got.

#41 fix: fixed undefined data before computing the plans
  visual-debugger/src/lib/components/ui/PlanOverview.svelte
  visual-debugger/src/lib/components/ui/QueryBatchOverview.svelte
Labels: bug, Data Processing

#40 chore: cleanup parsing of queries
  visual-debugger/src/data-processing/queryBuild.ts
  visual-debugger/src/lib/components/ui/upload/DefaultPlanUpload.svelte
  visual-debugger/src/lib/components/ui/upload/QueryUpload.svelte
  visual-debugger/src/sveltestore.ts
Labels: chore, Data Processing

#46 feat: implement new backend, itinerary overview, also styling
  visual-debugger/assets/Query-Batch.json
  visual-debugger/assets/default-plan-mismatched.json
  visual-debugger/assets/default-plan.json
  visual-debugger/src/data-processing/changeElements.ts
  visual-debugger/src/data-processing/comparePlans.ts
  visual-debugger/src/data-processing/componentInterface.ts
  visual-debugger/src/data-processing/parsing-types/cssClasses.ts
  visual-debugger/src/data-processing/planParsing.ts
  visual-debugger/src/data-processing/queryBuild.ts
  visual-debugger/src/data-processing/styling/cssClasses.ts
  visual-debugger/src/data-processing/type-declarations/planTypes.ts
  visual-debugger/src/data-processing/type-declarations/queryTypes.ts
  visual-debugger/src/lib/components/ui/DefaultItineraryOverview.svelte
  visual-debugger/src/lib/components/ui/DefaultPlanOverview.svelte
  visual-debugger/src/lib/components/ui/ItineraryOverview.svelte
  visual-debugger/src/lib/components/ui/PlanOverview.svelte
  visual-debugger/src/lib/components/ui/QueryBatchOverview.svelte
  visual-debugger/src/lib/components/ui/button/index.ts
  visual-debugger/src/lib/components/ui/subcomponents/LegEntry.svelte
  visual-debugger/src/lib/components/ui/subcomponents/PlanEntry.svelte
  visual-debugger/src/lib/components/ui/subcomponents/QueryEntry.svelte
  visual-debugger/src/lib/components/ui/upload/DefaultPlanUpload.svelte
  visual-debugger/src/lib/components/ui/upload/QueryUpload.svelte
  visual-debugger/src/routes/+page.svelte
  visual-debugger/src/routes/new/+page.svelte
  visual-debugger/src/sveltestore.ts
  visual-debugger/svelte.config.js
Labels: enhancement, user story, Front End, Data Processing

#48 chore: update assets for new AVV data
  visual-debugger/assets/Query-Batch.json
  visual-debugger/assets/default-plan-mismatched.json
  visual-debugger/assets/default-plan.json
Labels: chore, Data Processing

#50 feat: introduce new compareItinerary method for excluding attributes
  visual-debugger/package.json
  visual-debugger/src/data-processing/compareObjects.ts
  visual-debugger/src/data-processing/comparePlans.ts
  visual-debugger/src/data-processing/planParsing.ts
  visual-debugger/src/data-processing/type-declarations/planTypes.ts
Labels: enhancement, Data Processing

#51 Fix: download css classes
  visual-debugger/src/data-processing/planParsing.ts
Labels: bug, Data Processing

#52 feat: Adding new ConnectionDetails.svelte component and helper files from motis/ui
  visual-debugger/src/app.html
  visual-debugger/src/data-processing/type-declarations/planTypes.ts
  visual-debugger/src/lib/Time.svelte
  visual-debugger/src/lib/components/ui/ConnectionDetail.svelte
  visual-debugger/src/lib/components/ui/DefaultItineraryOverview.svelte
  visual-debugger/src/lib/components/ui/ItineraryOverview.svelte
  visual-debugger/src/lib/components/ui/Route.svelte
  visual-debugger/src/lib/components/ui/subcomponents/LegEntry.svelte
  visual-debugger/src/lib/formatDuration.ts
  visual-debugger/src/lib/getModeName.ts
  visual-debugger/src/lib/i18n/en.ts
  visual-debugger/src/lib/i18n/translation.ts
  visual-debugger/src/lib/modeStyle.ts
  visual-debugger/src/lib/toDateTime.ts
  visual-debugger/src/routes/+page.svelte
Labels: enhancement, Front End

#55 feat: independent itineraries
  visual-debugger/src/data-processing/changeElements.ts
  visual-debugger/src/data-processing/componentInterface.ts
  visual-debugger/src/lib/components/ui/DefaultPlanOverview.svelte
  visual-debugger/src/lib/components/ui/PlanOverview.svelte
  visual-debugger/src/lib/components/ui/subcomponents/PlanEntry.svelte
  visual-debugger/src/routes/+page.svelte
Labels: enhancement, Data Processing
